<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find move_control)/config/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find move_control)/config/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find move_control)/config/move_base_config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find move_control)/config/move_base_config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find move_control)/config/move_base_config/base_local_planner_params.yaml" command="load" />
        <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner" /> -->
        <rosparam file="$(find move_control)/config/move_base_config/dwa/dwa_local_planner_params.yaml" command="load" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <!-- <rosparam file="$(find move_control)/config/move_base_config/teb/teb_local_planner_params.yaml" command="load" /> -->
        <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
        <remap from="/cmd_vel" to="/robot2/cmd_vel" />
    </node>

</launch>
