<!-- 版本大更新：将世界坐标系换成map -->
<launch>
    <!-- 绑定场地到 odom -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="field_to_odom" args="0 0 0 0 0 0 map Basketball_Field/base_footprint" />
  
    <!-- 机器人1 -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="robot1_tf_pub" args="0 0 0 0 0 0 map robot1/odom" />
      <!-- 其他 robot1 的节点 -->
  
    <!-- 机器人2 -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="robot2_tf_pub" args="0.0 0.0 0 0 0 0 map robot2/odom" />
      <!-- 其他 robot2 的节点 -->
  
    <!-- 机器人3 -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="robot3_tf_pub" args="0 0 0 0 0 0 map robot3/odom" />
      <!-- 其他 robot3 的节点 -->
  
    <!-- 机器人4 -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="robot4_tf_pub" args="0 0 0 0 0 0 map robot4/odom" />
      <!-- 其他 robot4 的节点 -->
  </launch>